<% include header %>
    <header>
      <div>
        <ul class="lang-switch">
            <% getLocales().forEach( lang => { %>
          <a href="/lang/<%= lang %>"><%= lang %></a>
            <% }) %>
        </ul>
      </div>

    </header>
    <h1><%= __('Wellcome to') %></h1>
    <h2><%= title %></h2>
    <ul>
        <% commercial.forEach(function(commercial) { %>
        <div class="item">
          <li><%= commercial.name %></li>
          <li><%= commercial.sell %></li>
          <li><%= commercial.price %></li>
          <li><%= commercial.tags %></li>
          <img class="images" src="<%= commercial.photo %>" alt="Foto">
          <br/>
        </div>
        <% }); %>
    </ul>
<% include footer %>